<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Доступ запрещен</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Доступ запрещен (403)</h1>
<p>У вас недостаточно прав для просмотра этой страницы.</p>
<hr/>
<br/>
<form th:action="@{/hello}" th:method="GET">
    <input type="submit" value="Вернуться на главную страницу"/>
</form>
<br/>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Войти под другой учётной записью"/>
</form>
</body>
</html>