<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

<p>Здравствуйте, <span th:text="${person.name}">Имя</span></p>
<hr/>
<br/>
<form th:action="@{/books}" th:method="GET">
    <input type="submit" value="Посмотреть список книг"/>
</form>
<br/>
<form th:action="@{/showUserInfo}" th:method="GET">
    <input type="submit" value="Вывести информацию о себе в консоль разработчика"/>
</form>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Выйти из учётной записи"/>
</form>

</body>
</html>